@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');


/* VARIAVEIS */

:root {
    --cor1: #E3E3E3;
    --cor2: #191919;
    --cor3: #470b46;
    --cor4: #007172;
    --cor5: #025259;

}

/* GENERAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

strong {
    font-weight: bold;
}

/* CORPO */

body {
    background-color: var(--cor1);
    margin-bottom: 500px; /* LEMBRAR DE APAGAR */
}

/* HEADER */

header {
    background-color: var(--cor2);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 300px;
    margin: 10px 30px 
}

/* NAVBAR */

.header nav {
    display: flex;
}

.navbar{
    display: flex;
    gap: 30px;
    margin-right: 5px;
}

.navbar li {
    padding: 15px 0;
}

.navbar li a {
    font-weight: bold;
    color: #ccc;
    border-bottom: 1px solid transparent;
    transition: .9s;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.navbar li a:hover{
    color: #fff;
    border-bottom: 5px solid #fff;
    transition: .9s;
}


/* REDES SOCIAIS */
.redes-sociais {
    display: flex;
    align-items: center;
    gap: 30px;
}
.header i {
    color: #fff;
    font-size: 3rem;
    margin-right: 15px;
    transition: .7s;
}

.fa-instagram:hover {
    color: orange;
}

.fa-whatsapp:hover {
    color: greenyellow;
}

/* BANNER */

.banner {
    height: 500px;
    background-color: #007172;
}

.banner img {
    position: absolute;
    width: 100%;
    height: 495px;
}

.banner .conteudo {
    text-align: center;
}

.banner .conteudo div h1{
    z-index: 11;
    font-size: 4rem;
    padding: 100px 50px;
}

.banner .conteudo .btn {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.banner .conteudo .btn p{
    z-index: 10;
    font-size: 2rem;
    cursor: pointer;
    padding: 20px;
    width: 250px;
    font-weight: bold;

    color: var(--cor1);
    border-radius: 35px;
    border: 2px solid var(--cor1);
    transition: .7s;
}

.banner .conteudo .btn p:hover{
    color: var(--cor2);
    background-color: var(--cor1);
}

/* SOBRE MIM */

.sobre-mim .text {
    padding: 150px 60px 10px;
    color: var(--cor2);
}

.sobre-mim .text h2,
.sobre-mim .text h3 {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Oswald';
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.165);
    text-align: center;
}

.sobre-mim .text h2 {
    margin-bottom: 30px;
}

.sobre-mim .text h3 {
    margin-bottom: 30px;
}

.sobre-mim .text p {
    color: var(--cor2);
    font-family: 'Poppins';
    font-size: 2rem;
    text-align: justify;
    padding: 0 300px;
}

.sobre-mim .imagem  img{
    width: 40%;
}

/* VALORES */

.valores {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.valores i {
    margin-top: 200px;
    font-size: 5rem;
    color: var(--cor3);
}

.valores h2 {
    font-family: 'Oswald';
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 50px;
}

.valores .card {
    width: 500px;
    text-align: center;
}

.valores .card  p {
    text-align: justify;
    font-family: 'Poppins';
    font-size: 1.5rem;
}

/* PROJETOS */

.projetos h2 {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 150px 0;
}

.projects {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 100px;
}

.projects .card img {
    width: 800px;
}

.projects .card {
    border: 16px solid var(--cor3);
}


